.card {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #3f3939;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    margin-left: 20px;
  }
  
  .card h2 {
    margin-bottom: 1rem;
    color: #f1f0f0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  .card label {
    display: block;
    margin-top: 1rem;
    font-weight: 500;
    color: #f1f0f0;
  }
  
  .card input,
  .card select,
  .card textarea,
  .card button {
    width: calc(100% - 20px);
    padding: 0.5rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .card textarea {
    resize: none;
  }
  
  .card button {
    background-color: #3f4750;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .card button:hover {
    background-color: #2f343a;
  }
  